/* line 1, src/LibraryBundle/Resources/public/styles/library.scss */

body {
  padding-top: 82px;
}

/* line 6, src/LibraryBundle/Resources/public/styles/library.scss */

li strong {
  display: inline-block;
  width: 150px;
}

/* line 12, src/LibraryBundle/Resources/public/styles/library.scss */

.row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 16, src/LibraryBundle/Resources/public/styles/library.scss */

.row-list > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 20, src/LibraryBundle/Resources/public/styles/library.scss */

.row-list > [class*='col-'] .thumbnail {
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .3s;
  transition: -webkit-transform .2s, -webkit-box-shadow .3s;
  transition: transform .2s, box-shadow .3s;
  transition: transform .2s, box-shadow .3s, -webkit-transform .2s, -webkit-box-shadow .3s;
}

/* line 25, src/LibraryBundle/Resources/public/styles/library.scss */

.row-list > [class*='col-'] .thumbnail:hover,
.row-list > [class*='col-'] .thumbnail:focus {
  z-index: 1;
  text-decoration: none;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}